 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Astrophysics</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Currently working on the statistical tools used for the detection of a gravitational wave background with millisecond pulsars.</p>
    </div>
    <div class="tech">
      <h2>Bayeasian Statistic</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I have developed a novel methodology to infer the state of an evolving systems with missing information.</p>
    </div>
    <div class="tech">
      <h2>Digital Marketing</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p> over 15 years experience in digital marketing. Strong hands on knowledge of search engine marketing (SEM and SEO), paid social media and marketing analytics. 
       Stong team management expertise on programmatic display, social media, affiliate networks, email marketing and native advertising.</p>
    </div>
</div>
