 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Astrophysics</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>Mainly using python. Also bash, with Emacs... a bit old school.</p>
    </div>
    <div class="tech">
      <h2>Bayeasian Statistic</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-r-original colored"></i>
      <p>The code was written in C++ with Visual studio.</p>
    </div>
    <div class="tech">
      <h2>Digital Marketing</h2>
      <i class="devicon-google-plain colored"></i>
      <i class="devicon-facebook-plain colored"></i>
      <p> I routinely use Google ads, Google Analytics, Google search console, Google tag manager, Google Optimize and Facebook Ads</p>
    </div>
</div>
