<div id="particles-js">
    <div class="header">
      <a href="{{ site.baseurl }}/" class="header-link">
        <h1>
          <span class="site-title">{{site.username}}</span>
          <span class="site-description">{{site.user_title}}</span>
        </h1>
      </a>
        <div class="header-icons">
          <a aria-label="My Twitter" target="_blank" href="https://twitter.com/valeaussie"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
          <a aria-label="My Github" target="_blank" href="https://github.com/valeaussie"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
          <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/valentina-di-marco/?originalSubdomain=au"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
        <div class="header-links">
          <a class="link" href="#about" data-scroll>My Tools</a>
          <a class="link" href="#projects" data-scroll>What I Do</a>
        </div>
    </div>

  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
