<div class="user-details">
  <h1> WHAT I DO </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="timing array" src="{{ "/assets/img/TimingArray(champion).png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> PhD project </h3>
    <ul>
      <li> Pulsar Timing - Gravitational Waves Detection </li>
    </ul>
    <p>Currently working on the statistical tools used for the detection of a gravitational wave background with millisecond pulsars.</p>
    <a class="project-link" target="_blank" href="https://arxiv.org/abs/2305.04464">Check My Paper</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
