<div class="user-details">
  <h1> WHAT I DO </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <!--<img alt="timing array" src="{{ "/assets/img/TimingArray(champion).png" | prepend: site.baseurl }}" />-->
    <!--<div class="caption">Image credit: David J. Champion</div>-->
    <iframe width="460" height="315" src="https://www.youtube.com/embed/oB_nNW5blSU?si=xaV_Irri1-l8vBba" 
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
      clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
  </div>
  <div class="contents">
    <h3> PhD project </h3>
    <ul>
      <li> Pulsar Timing - Gravitational Waves Detection </li>
    </ul>
    <p>Currently working on the statistical tools used for the detection of a gravitational wave background with millisecond pulsars.</p>
    <a class="project-link" target="_blank" href="https://iopscience.iop.org/article/10.3847/1538-4357/acee71">Check My Last Paper</a>
    <a class="project-link" target="_blank" href="https://scholar.google.com/citations?">Google Scholar</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Bayes" src="{{ "/assets/img/bayes.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> MPhil project </h3>
    <ul>
      <li> Sequential Importance Sampling With Corrections</li>
    </ul>
    <p>I have developed a novel methodology to infer the state of an evolving system with missing information.</p>
    <a class="project-link" target="_blank" href="https://bridges.monash.edu/articles/thesis/Novel_Approach_to_the_Reconstruction_of_Partially_Detected_Evolving_Systems/19172537">Check My Thesis</a><br>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="digital_marketing" src="{{ "/assets/img/digital_marketing.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Digital Marketing </h3>
    <ul>
      <li> Consultant</li>
    </ul>
    <p>I have strong hands-on knowledge of search engine marketing (SEM and SEO), paid social media and marketing analytics. Strong team management expertise in programmatic display, social media, affiliate networks, email marketing and native advertising.</p>
    <a class="project-link" target="_blank" href="https://www.linkedin.com/in/valentina-di-marco/">Check My LinkedIn</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="the more artistic side of me" src="{{ "/assets/img/face.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Hobbies </h3>
    <p>Drawing, singing and some picures</p>
    <a class="project-link" target="_blank" href="https://vdmwebsites.wixsite.com/valentinadimarco">My Other Website</a>
  </div>
</div>
