<div class="user-details">
  <h1> USEFUL TOOLS </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="timing array" src="{{ "/assets/img/TimingArray(champion).png" | prepend: site.baseurl }}" />
    <div class="caption">Image credit: David J. Champion</div>
  </div>
  <div class="contents">
    <h3> PhD project </h3>
    <ul>
      <li> Pulsar Timing - Gravitational Waves Detection </li>
    </ul>
    <p>Currently working on the statistical tools used for the detection of a gravitational wave background with millisecond pulsars.</p>
    <a class="project-link" target="_blank" href="https://arxiv.org/abs/2305.04464">Check My Paper</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Bayes" src="{{ "/assets/img/bayes.webp" | prepend: site.baseurl }}" />
  </div>
